.article-title{
    font-size: 25px;
    color:#136a8a;
    margin:0px;
    padding:0px;
    
    
}
a.article-title{
    text-decoration: none !important;
    cursor: pointer;
}
.article-meta{
    margin:0px;
    padding:0px;
}
a.bib{
    text-decoration: none;
    color: #136a8a;
    cursor: pointer;
}
